.container {
  width: 80%;
  margin: 0 auto;
  font-size: 17px;
}

.head {
  color: #814aad;
  margin: 2rem 1rem 2rem 0;
  font-size: 30px;
}

.subtitle {
  margin: 1rem 1rem 1rem 0;
  font-size: 20px;
}

.choose {
  padding: 0.7rem 1rem;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
}

.add {
  margin-left: 2rem;
  background: none;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
  padding: 0.7rem 1rem;
}
