.header {
  background: #f8f8f8;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.head {
  display: contents;
  font-size: 20px;
  color: #919394;
}

.link {
  font-size: 17px;
  padding-left: 2rem;
  text-decoration: none;
  color: #7781a9;
}
