.container {
  width: 80%;
  margin: 0 auto;
  font-size: 17px;

  td {
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    text-align: center;
  }

  th {
    padding: 1rem 0;
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem 0;
  }
}

.content {
  width: 100%;
}

.head {
  color: #814aad;
  margin: 2rem 1rem 2rem 0;
  font-size: 30px;
}

.row {
  display: flex;
  margin: 1rem 1rem 1rem 0;
  border-bottom: 2px solid #ddd;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.id {
  border: 2px solid #ddd;
  padding: 2rem;
}

.name {
  padding: 0 1rem 1rem 1rem;
  font-size: 22px;
  color: #919394;
}

.address {
  padding: 0 1rem 0.5rem 1rem;
  font-size: 16px;
}

.phone {
  padding: 0 1rem;
  font-size: 16px;
}
